@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@400;500;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #333333;
}

body {
  margin: 0 10px;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 24px;
  margin-top: 50px;
}

header div {
  display: flex;
  align-items: flex-start;
  margin: 10px 0;
}

header div img {
  width: 10px;
}

header img {
  border-radius: 12px;
  width: 80%;
}

header p {
  font-style: italic;
  font-weight: 500;
  font-size: 12px;
  width: 280px;
  margin: 0 10px;
  color: #4f4f4f;
}

.section1 h6 {
  text-transform: uppercase;
  color: #bdbdbd;
  font-size: 8px;
}

.section1 p {
  font-size: 10px;
  color: #f2994a;
}

.section1-div p {
  color: #333333;
}

.section1-div {
  display: flex;
  align-items: flex-start;
  margin: 10px 0;
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 18px;
}

h3 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
}

h4 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 24px;
  margin: 20px 0 10px 0;
}

.section2 p,
.section3 p {
  font-size: 14px;
  width: 320px;
}

.section4 p {
  font-size: 16px;
  width: 300px;
}

.section4 small {
  color: #bdbdbd;
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
}

.section4 div {
  display: flex;
  align-items: flex-start;
  margin: 10px 0;
}

.section4 h5 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 24px;
  color: white;
  background: #f2994a;
  border-radius: 6px;
  text-align: center;
  width: 36px;
  padding: 4px 0;
  margin-right: 10px;
}

footer {
  width: 100%;
  margin: 50px 0 10px 0;
  padding: 10px 0;
  color: #828282;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

footer p {
}
